---
import Layout from "../TailwindLayout.astro";
---

<Layout title="Fun with Tailwind!">
  <div class="flex h-screen flex-col items-center justify-center">
    <h1 class="text-7xl font-bold">404</h1>
    <div class="group">
      <p class="mt-8">Page not found</p>
      <p
        class="-mt-6 opacity-0 transition-all group-hover:mt-0 group-hover:opacity-100"
      >
        Sorry about that!
      </p>
    </div>
  </div>
</Layout>
