<div class="centering-container">
  <slot />
</div>
<style>
  .centering-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
</style>
